In [1]:
Token a = b + c

SyntaxError: invalid syntax (<ipython-input-1-16d7bbdb9981>, line 1)

In [ ]:
Literal 78 3.14 'Q' "hello"

In [ ]:
'Hello World'

In [ ]:
10+3

In [ ]:
type("hello")

In [2]:
type(123)

int

In [3]:
print("Hello World")

Hello World

In [4]:
print('Hello World')

Hello World

In [5]:
print('hello')
print("world")
print("Good Bye")

hello
world
Good Bye

In [6]:
#end argument
print('hello', end=' ')
print("world", end=' ')
print("Good Bye")

hello world Good Bye

In [7]:
a=1

In [8]:
a

1

In [9]:
a=a+5

In [10]:
a

6

In [11]:
p=q=r=100
p

100

In [12]:
q

100

In [13]:
r

100

In [14]:
c=z+1

NameError: name 'z' is not defined

In [ ]:
a=10
b=20
c=30
a,b,c=b,c,a
print(a)
print(b)
print(c)

In [ ]:
s1=input('enter string1:')
s2=input('enter string2')
print(s1)
print(s2)

In [ ]:
x=input()
print(x)

In [ ]:
type(x)

In [ ]:
x=int(input())
print(x)

In [ ]:
type(x)

In [ ]:
x=eval(input("Enter the number"))

In [ ]:
type(x)

In [ ]:
max(6,8,7,5,9)

In [ ]:
pow(2,3)

In [ ]:
math.sqrt(9)

In [ ]:
import math
math.sqrt(9)

In [ ]:
math.log(1)
hyp= math.sqrt(base*base + height*height)

In [ ]:
ord('a')
# ASCII VALUE

In [ ]:
ord('A')

In [ ]:
chr(90)

In [ ]:
ord('a')

In [ ]:
ord('z')

In [ ]:
x=-5
x

In [ ]:
x=+6

In [ ]:
x

In [ ]:
2+4

In [ ]:
1.0+4.0

In [ ]:
1+2.0

In [ ]:
7-4

In [ ]:
7*4

In [ ]:
1//3

In [ ]:
4//2

In [ ]:
10//3

In [ ]:
10%3

In [ ]:
4**5

In [ ]:
1&3
#0001
#0011
#0001

In [ ]:
5&4

In [ ]:
3|5
#0011
#0101
#0111

In [ ]:
1|5

In [ ]:
3^5

In [ ]:
1^5

In [ ]:
4>>2

In [ ]:
8>>2

In [ ]:
4<<2

In [ ]:
8<<2

In [ ]:
True or True

In [ ]:
True or False

In [ ]:
True and False

In [ ]:
not 1

In [ ]:
not 5

In [ ]:
not 0

In [ ]:
not 'hello'

In [ ]:
not ''

In [ ]:
2==2

In [ ]:
2<5

In [ ]:
num1=eval(input("Enter first number:"))
num2=eval(input("Enter second number:"))
if num2>num1:
    print("Num2 is greater")
else:
    print("Num1 is greater")

In [ ]:
a=2;b=3

In [ ]:
a

In [ ]:
b

In [ ]:
if num1>num2:
    if num2>num3:
        print(num1,"is greater than",num2,"and",num3)

In [ ]:
count=0
while count<5:
    print("Count=",count)
count=count+1

In [ ]:
count=0
while count<=5:
    print("Count=",count)
    count=count+1

In [ ]:
count=0
sum=0
while count<=10:      #count=5
    sum=sum+count     # sum=15
    count=count+1
print('sum=',sum)

In [ ]:
#range(begin,end,step)
list(range(1,6))

In [ ]:
list(range(1,20,2))

In [ ]:
list(range(5,0,-2))

In [ ]:
list(range(-4,4,1))

In [ ]:
for i in range(5,0,-1):
    print(i,end=" ")

In [ ]:
for i in range(65,91):
    print(chr(i),end=" ")

In [ ]:
#Fibonacci series
#0 1 1 2 3 5 8 13
num1=0
num2=1
for i in range(14):
    sum = num1 + num2      #1
    print(sum, end= " ")
    num1 = num2
    num2 = sum

In [ ]:
for i in range(1,100,1):
    if(i==10):
        break
    else:
        print(i, end=" ")

In [ ]:
# prime number
num=int(input("Enter the number:"))

for i in range(2,num):
    if num%i==0:
        flag=0
        break
    else:
        flag=1
if flag==1:
    print(num, "is Prime")
else:
    print(num,"is not prime")

In [ ]:
for i in range(1,11):
    if i==5:
        continue
    print(i,end=" ")

In [ ]:
def Display():
    print("Welcome to Python class")
Display()
Display()

In [ ]:
def print_msg():
    str=input("Enter your name:")
    print("hello",str,"Welcome to Python class")
print_msg()

In [ ]:
def sum(x,y):
    sum=0
    for i in range(x,y+1):
        sum=sum+i
    print("Sum of numbers from x to y is",sum)
sum(1,25)
sum(50,75)
sum(90,100)

In [ ]:
def printmax(num1,num2):
    if num1>num2:
        #print(num1,"is greater")
        return num1
    elif num2>num1:
        #print(num2,"is greater")
        return num2
    else:
        print("both numbers are equal")
print(printmax(10,20))
print(printmax(30,10))
printmax(10,10)

In [ ]:
def display(Name,age):
    print("Name=" " Age=",Name,age)
display("Vishesh",18)
display(40,"Lakshay")
#display("john")

In [ ]:
def display(Name,age):
    print("Name=",Name,"Age=", age)
display(age=25, Name="Lakshay")

In [ ]:
def Display(num1,num2):
    print(num1, num2)
    
Display(40,num2=10)
Display(10,num1=40)

In [ ]:
def greet(name="Vishal", msg="Welcome to Python class"):
    print("Hello", name, msg)
    
greet()
greet("Vishesh","How r u?")

In [ ]:
def greet(name="Vishal", msg):
    print("Hello", name, msg)
    
greet()
greet("Vishesh","How r u?")

In [ ]:
p=20
def Demo():
    q=10
    print("Q=",q)
    print("P=",p)
Demo()
print("P=",p)
print("Q=",q)

In [ ]:
a=20
def Display():
    a=30
    print("value of a in function is", a)
Display()
print("value of a outside function is", a)

In [ ]:
a=20
def Display():
    global a
    a=30
    print("value of a in function is", a)
Display()
print("value of a outside function is", a)

In [ ]:
def calculate(num1,num2):
    return num1+num2, num1-num2

calculate(3,5)

In [ ]:
def calculate(num1,num2):
    return num1+num2, num1-num2

add,subtract=calculate(3,5)
add=add+1
print("Sum is=",add,"Subtraction is=", subtract)

In [ ]:
def facto(num):
    if num==0:
        return 1
    return num*facto(num-1)

print(facto(5))

In [ ]:
# lambda anonymous
cube = lambda x: x*x*x
print (cube(2))

In [ ]:
s="Hello"
print(s)
len(s)

In [ ]:
min(s)

In [ ]:
max(s)

In [ ]:
s[0]

In [ ]:
s[-1]

In [ ]:
s[-5]

In [ ]:
S="India"
for i in S:
    print(i, end="")

In [ ]:
S="ILOVEPYTHONPROGRAMMING"
for ch in range(0,len(S),2):
    print(S[ch], end="")

In [ ]:
S="India"
i=0
while i<len(S):
    print(S[i],end="")
    i=i+1

In [ ]:
Str1="I Love Python"
Str2="U"+Str1[1:]
print(Str2)

In [ ]:
S="IIT-BOMBAY"
S[2:4]

In [ ]:
S[0:len(S):2]

In [ ]:
S="IIT-MADRAS"
S[::]

In [ ]:
S[::-1]

In [ ]:
S[-1]

In [ ]:
# * * * * *
# * * * *
# * * *
# * *
# *
n=1
for i in range(1,6):
    n=n+1
    for j in range(1,n):
        print(j,end= " ")
    print()

In [ ]:
S1="IIT "
S2="DELHI"
S1+S2

# S1*3

In [ ]:
S1="Information Technology"
"Technology" not in S1

In [ ]:
S1="abcd"
S2="ABCD"
S1>S2

In [ ]:
S1="abc"
S2="abc"
S1==S2

In [ ]:
S1="ABC"
S2="DEF"
S1>S2

In [ ]:
S1="AAA"
S2="AAB"
S2>S1

In [15]:
Str1="C C++ Java Python"
Str1.split()

['C', 'C++', 'Java', 'Python']

In [16]:
company= "TCS,INFOSYS,GOOGLE,MICROSOFT,YAHOO"
company.split(",")

['TCS', 'INFOSYS', 'GOOGLE', 'MICROSOFT', 'YAHOO']

In [17]:
S="Python Programming"
S.isalnum()

False

In [18]:
S="PythonProgramming"
S.isalnum()

True

In [19]:
S="Python123Programming"
S.isalnum()

True

In [20]:
S="123456"
S.isalnum()

True

In [21]:
S="programming"
S.isalpha()

True

In [22]:
S="programm123ing"
S.isalpha()

False

In [23]:
S="1234"
S.isdigit()

True

In [24]:
S="1234Go"
S.isdigit()

False

In [25]:
S="hello"
S.islower()

True

In [26]:
S="HELLO"
S.isupper()

True

In [27]:
S="Python Programming"
S.endswith("Programming")

True

In [28]:
S.startswith("Python")

True

In [29]:
S.startswith("python")

False

In [30]:
Str1="Python Programming Prog"
Str1.find("Prog")

7

In [31]:
Str1="Python Programming"
Str1.find("prog")

-1

In [32]:
Str1="Python Programming Prog"
Str1.rfind("Prog")

19

In [33]:
Str1="Python Programming"
Str1.rfind("o")

9

In [34]:
Str1="Python Programming"
Str1.count("o")

2

In [35]:
Str1="hello"
Str1.capitalize()

'Hello'

In [36]:
Str1="INDIA"
Str1.lower()

'india'

In [37]:
Str1="india"
Str1.upper()

'INDIA'

In [38]:
Str1="welcome to the world of programming"
Str1.title()

'Welcome To The World Of Programming'

In [39]:
Str1="Incredible India"
Str1.swapcase()

'iNCREDIBLE iNDIA'

In [40]:
S1="I have bought two chocolates, two cookies and two cakes"
S2=S1.replace("two","three")
S2

'I have bought three chocolates, three cookies and three cakes'

In [41]:
S1="I have bought two chocolates, two cookies and two cakes"
S2=S1.replace("two","three",2)
S2

'I have bought three chocolates, three cookies and two cakes'

In [42]:
def vow(word):
    new=''
    for i in word:
        if(i=='a' or i=='e' or i=='i' or i=='o' or i=='u'):
            new= new + i.upper()
        else:
            new= new +i
    print(new)

vow('vishesh')
# print(x)

vIshEsh

In [43]:
def rev(word1,word2):
    if(word1==word2[::-1]):
        return True
    else:
        return False
rev('hello','olleh')

True

In [44]:
l1=[10,20,30]
l1

[10, 20, 30]

In [45]:
l1=["apple","orange","banana"]
l1

['apple', 'orange', 'banana']

In [46]:
l1= ["john",25,"male",5.8]
l1

['john', 25, 'male', 5.8]

In [47]:
l1[0]

'john'

In [48]:
l1[-1]

5.8

In [49]:
l1=[10,20,30,40,50,60]
l1[0:6:3]

[10, 40]

In [50]:
list1=[1,2,3,4]
list1[:2]

[1, 2]

In [51]:
list1[::-1]

[4, 3, 2, 1]

In [52]:
list1[-1:0]

[]

In [53]:
len(list1)

4

In [54]:
max(list1)

4

In [55]:
min(list1)

1

In [56]:
sum(list1)

10

In [57]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [58]:
2*a

[1, 2, 3, 1, 2, 3]

In [59]:
4 in a

False

In [60]:
list3=[10,20,30,40,50,60,70]
del list3[2]
list3

[10, 20, 40, 50, 60, 70]

In [61]:
del list3[-1]
list3

[10, 20, 40, 50, 60]

In [62]:
del list3[1:3]
list3

[10, 50, 60]

In [63]:
del list3[:]
list3

[]

In [64]:
# List Comprehensions
list1=[10,20,30,40,50]
list1

[10, 20, 30, 40, 50]

In [65]:
for i in range(0,len(list1)):
    list1[i]=list1[i]+5
list1

[15, 25, 35, 45, 55]

In [66]:
list1= [x+5 for x in list1]
list1

[20, 30, 40, 50, 60]

In [67]:
# [<expression> for <element> in <sequence>]

In [68]:
l1=['x','y','z']
l1.append('a')
l1

['x', 'y', 'z', 'a']

In [69]:
l1.clear()
l1

[]

In [70]:
l1=['a','b','c','a','c','x','y']
l1.count('a')

2

In [71]:
l2=l1.copy()

In [72]:
l2

['a', 'b', 'c', 'a', 'c', 'x', 'y']

In [73]:
l3=l2[:]

In [74]:
l3

['a', 'b', 'c', 'a', 'c', 'x', 'y']

In [75]:
list1=[1,2,3]
list2=[4,5,6]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6]

In [76]:
list1=['a','b','c','b','d','a']
list1.index('b')

1

In [77]:
list1=[1,2,3,4,5,6]
list1.insert(4,7)

In [78]:
list1

[1, 2, 3, 4, 7, 5, 6]

In [79]:
list1.pop()

6

In [80]:
list1

[1, 2, 3, 4, 7, 5]

In [81]:
list1.pop(2)

3

In [82]:
list1=[1,2,3,4,3,2,5,6]
list1.remove(3)

In [83]:
list1

[1, 2, 4, 3, 2, 5, 6]

In [84]:
l1=['a','b','c','d','e']
l1.reverse()
l1

['e', 'd', 'c', 'b', 'a']

l2= 
l2.sort()
l2

In [85]:
list=[3,'Roses',2,'chocolates']
list.remove(3)

In [86]:
list

['Roses', 2, 'chocolates']

In [87]:
p='python'
p

'python'

In [88]:
l=list(p)
l

TypeError: 'list' object is not callable

In [ ]:
A="Wow!!! I Love python Programming"
B=A.split()
B

In [ ]:
P="My-Date-of-Birth-03-june-1998"
P.split('-')

In [ ]:
def Print_list1(lst):
    for num in lst:
        print(num,end=" ")
lst=[10,20,30,4,50,6]
Print_list1(lst)

In [ ]:
def calculate(lst123):
    avg= sum(lst)/len(lst)
    print(avg)
lst123=[1,2,3,4,5,6]
calculate(lst)

In [ ]:
a=input()
print(a)
print(type(a))

In [ ]:
a=int(input())
print(a)
print(type(a))

In [ ]:
#eval()
a=input()
print(a)
print(type(a))

In [ ]:
x = "Hello, world!"
y = x[5:]
print(y)

In [ ]:
a = 1
def test():
    a = 2
    print(a)

print(a)
test()
print(a)

In [ ]:
print(1000==300)

In [ ]:
print('45+3')

In [ ]:
l=[1,2,3,4,8,1.2]
type(l)

In [ ]:
2^3

In [ ]:
3^2

In [ ]:
19 % 2

In [ ]:
name="Hello World" 
print(type(name))

In [ ]:
sum=0
for i in range(1,11):
    sum=i+sum
print(sum)

In [ ]:
sum=0
num=int(input("Enter a number"))
num1=num
while(num>0):
    a=num%10
    num=num//10
    sum=sum+a*a*a
print(sum)
if sum==num1:
    print('Numbers are equal')
else:
    print('Not Equal')  #Armstrong

In [ ]:
def function(Faraz):
    str="Faraz khan"
str.count("z")

In [ ]:
str="Vipul"
str.vowel