In [2]:
L1=list()
L2=list([10,20,30])
L3=list(["Apple","Banana","Orange"])
L4=list(range(0,6))
L5=list("xyz")
# list=[10,20,30]
# list

[10, 20, 30]

In [ ]:
# 1. Write a function which takes a word and a letter as arguments and returns the number of
occurrences of that letter in the word.

2.  Write a function which takes a word and a letter as arguments and removes all the 
occurences of that particular letter from the word. The function will return the 
remaining letters in the word.

3. Write a function which takes a word as argument and returns the word with all the
vowels capitalised.

4. Write a function which takes two words as arguments and returns True if the second word 
is the reverse of the first word.

In [3]:
list1=["Apple","Banana","Orange"]
list1

['Apple', 'Banana', 'Orange']

In [4]:
list2=["john","Max",10,20,40.8]

In [5]:
list2

['john', 'Max', 10, 20, 40.8]

##### L1=[10,20,30,40,50,60]
L1[0]

In [1]:
L1=[10,20,30,40,50,60]
L1[0]

10

In [8]:
L1[6]

IndexError: list index out of range

In [9]:
L1[-1]

60

In [10]:
L1[-5]

20

In [5]:
L1=[10,20,30,40,50,60]
L1[1:4]

[20, 30, 40]

In [6]:
L1[2:5]

[30, 40, 50]

In [7]:
L1=[10,20,30,40,50,60]
L1[0:6:2]

[10, 30, 50]

In [8]:
L1[2:5]

[30, 40, 50]

In [15]:
L1[::-1]

[60, 50, 40, 30, 20, 10]

In [16]:
L1[-1:0:-1]

[60, 50, 40, 30, 20]

In [17]:
L1[-1:0:-2]

[60, 40, 20]

In [18]:
List=["red","orange","blue","yellow"]
len(List)

4

In [19]:
L1=[10,20,30,40,50]
max(L1)

50

In [20]:
min(L1)

10

In [21]:
sum(L1)

150

In [2]:
a=[1,2,3]
b=[4,5,6]
a+b

[1, 2, 3, 4, 5, 6]

In [3]:
2*a

[1, 2, 3, 1, 2, 3]

In [4]:
4 not in b

False

In [27]:
a=[10,20,30,40,50,60]
del a[2]
a

[10, 20, 40, 50, 60]

In [28]:
del a[-1]
a

[10, 20, 40, 50]

In [30]:
a=[10,20,30,40,50,60]
del a[2:5]
a

[10, 20, 60]

In [31]:
del a[:]
a

[]

In [2]:
l=[10,20,30,40,50,60]
for i in range(0,len(l)):
    print(l[i])

10
20
30
40
50
60

In [33]:
for i in range(0,len(l)):
    l[i]=l[i]+5
l

[15, 25, 35, 45, 55, 65]

In [34]:
l= [x+10 for x in l]

In [35]:
l

[25, 35, 45, 55, 65, 75]

In [35]:
1. WAP to create a list and display even elements of the 
list using list comprehension.

2. Consider a list with 5 different celsius values.
Convert all the celsius values into Fahrenheit.
     l=[10,50,40,38,36]

3. Consider the list with mixed type of elements. Create
another list using list comprehension which consists of only
the integer elements present within the list.

SyntaxError: invalid syntax (<ipython-input-35-a1cbfa0e683e>, line 1)

In [36]:
list=[10,20,43,35,46,58,75,91]
list= [x for x in list if x%2==0]
print(list)

[10, 20, 46, 58]

In [37]:
celsius= [10,20,31.3,40,39.2]
Fahrenheit= [((float(9)/5)*x + 32) for x in celsius]
print(Fahrenheit)

[50.0, 68.0, 88.34, 104.0, 102.56]

In [38]:
list= ['x','y','z']
list.append('A')
list

['x', 'y', 'z', 'A']

In [39]:
list.clear()

In [40]:
list

[]

In [1]:
list=[10,20,10,30,40,10,40,50]
list.count(40)

2

In [16]:
list1= ["Red","Blue","Orange"]
list2= list1.copy()
#list2= list1[:]

In [17]:
list2

['Red', 'Blue', 'Orange']

In [5]:
list1= [1,2,3]
list2= [4,5,6]
list1.extend(list2)
#list1.append(list2)

In [6]:
list1

[1, 2, 3, 4, 5, 6]

In [4]:
list= [10,20,30,20,40,10]
list.index(40)

4

In [51]:
list.insert(4,50)

In [52]:
list

[10, 20, 30, 20, 50, 40, 10]

In [9]:
list= [10,20,30,20,40,50]
list.pop(3)
#list

20

In [57]:
list1= [10,20,30,30,20,40,50]
list1.remove(20)
list1
# list1.reverse()
# list1.sort()

[10, 30, 30, 20, 40, 50]

In [58]:
list1= ['pet', 'dog', 5, 'cat', 'good', 'dog']
list1.count('dog')

2

In [20]:
list1= [3,'Ram', 2, "Chocolate"]
#list1.pop(3)
list1.remove(3)

'Chocolate'

In [21]:
list1

[3, 'Ram', 2]

In [24]:
# A='Python'
# B=list(A)
# B
lst=['red',3]
lst.extend('Green')
lst

['red', 3, 'G', 'r', 'e', 'e', 'n']

In [14]:
A= "I:Love:python:Programming"
B=A.split(' ')
B

['I:Love:python:Programming']

In [1]:
#Create a list of 5 elements Pass this list to a function and
# compute the average of 5 numbers.

#Write a function that accepts a positive integer k and 
# returns a list that contains the first five multiples of k.

# WAP to return all prime numbers from a list

In [2]:
list=[]
t= (1,2,3,4)
t

(1, 2, 3, 4)

In [3]:
list= [10]

In [4]:
list

[1]

In [2]:
t1=(10,)
type(t1)

tuple

In [3]:
type(t1)
t2=(1,2,3,4)
t2

(1, 2, 3, 4)

In [14]:
t2=()

In [15]:
t2

()

In [5]:
t3=tuple("STRING")
t3

('S', 'T', 'R', 'I', 'N', 'G')

In [18]:
t4=tuple("STRING")

In [19]:
t4

('S', 'T', 'R', 'I', 'N', 'G')

In [12]:
# len,max,min,sum,index,count
# t=('P','Y','T','H','O','N','N','h')
# max(t)
#len(t)
#t.count('N')
#t.index('p')
#t[:]
#(1,2)*3
(1,2)+(3,4)

(1, 2, 3, 4)

In [15]:
list1=[1,2,3,4]
t1=tuple(list1)
t1

(1, 2, 3, 4)

In [22]:
t5=(7,2,1,8)
t5

(7, 2, 1, 8)

In [23]:
l1=list(t5)
l1

TypeError: 'list' object is not callable

In [24]:
A='Python'
B=list(A)
B

TypeError: 'list' object is not callable

In [25]:
t5=(7,2,1,8)
t5

(7, 2, 1, 8)

In [26]:
l1=list(t5)
l1

TypeError: 'list' object is not callable

In [27]:
l1.sort()
t2=tuple(l1)
t2

NameError: name 'l1' is not defined

In [1]:
l5=[(1,"a",4),(2,"b",4),(3,"c",6)] #Length of all tuples must be same
for number,value,arg in l5:
     print(number, value, arg)
# for i in l5:
#     for j in i:
#         print(j)

1 a 4
2 b 4
3 c 6

In [5]:
# zip()
a=[1,2,3,4]
b="xyz"
c=[5,6,7,8]
list(zip(a,b,c))

[(1, 'x', 5), (2, 'y', 6), (3, 'z', 7)]

In [24]:
a=["black","orange","red"]
b=[255,0,100]
# ('Black',255)
# ('orange',0)
# ('red',100)
temp=list((zip(a,b)))
for i in temp:
          print(i)

('black', 255)
('orange', 0)
('red', 100)

In [33]:
def create_tup(*a):    # An argument which begins with * in function definition gathers all arguments into a tuple
    print(a)
    
create_tup(1,2,3,4)

(1, 2, 3, 4)

In [32]:
create_tup('a','b')

('a', 'b')

In [36]:
def sum_all(*args):
    s=0
    for i in args:
        s=s+i
    print(s)
    
sum_all(10,20,30,40)

100

In [34]:
sum_all(1,2,3)

6

In [38]:
def print_all(Country, Capital):
    print(Country)
    print(Capital)
ags=("INDIA",'DELHI')
print_all(*ags)

INDIA
DELHI

In [27]:
ags=[("INDIA",30000,54),("DELHI",50000)]
Country,Capital= zip(*ags)
print(Country)
print(Capital)

('INDIA', 'DELHI')
(30000, 50000)

In [7]:
x= [("Apple",30000),("Dell",32000)]
Laptop,Prize= zip(*x)
print(Laptop)
print(Prize)
# def ditto(list):
#     list1=[]
#     for i in list:
#         if list.count(i)>1:
#             return True
#     return False
# list=[1,2,3,4,5,6]
# print(ditto(list))

('Apple', 'Dell')
(30000, 32000)

In [ ]:
#SET
#Unordered collection of unique elements
# Set is mutable

In [28]:
lst=[3,2,1,6,1,3]
S1=set(lst)
S1

{1, 2, 3, 6}

In [2]:
S1={10,20,30,40}
S1

{10, 20, 30, 40}

In [5]:
S2=[1,2,3,2,5]
S3=set(S2)
S3

{1, 2, 3, 5}

In [6]:
S4=(1,2,3,4)
S5=set(S4)
S5

{1, 2, 3, 4}

In [7]:
3 in S4

True

In [8]:
4 not in S4

False

In [11]:
S4={1,2,19,30}
S4.add(12)
print(S4)

{1, 2, 12, 19, 30}

In [16]:
S5={"Vishal","Ankur","Puneet","Amit"}
S5.add("Neeraj")
S5

{'Amit', 'Ankur', 'Neeraj', 'Puneet', 'Vishal'}

In [11]:
S4.clear()

In [12]:
s4

NameError: name 's4' is not defined

In [13]:
S4

set()

In [8]:
S4={1,30,2,50,100,110}
S4.remove(100)
S4

{1, 2, 30, 50, 110}

In [8]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s2.issubset(s1)

False

In [19]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s2.issuperset(s1)

True

In [8]:
s1={1,2,3,4}
s2={3,4,5,6}
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [11]:
s1={1,2,3,4}
s2={3,4,5,6}
#s1.symmetric_difference(s2)
s1&s2

{3, 4}

In [7]:
# T=(1,3,2,4,6,5).WAP to store numbers
# present at odd index into a new tuple.

def odd(*t):
    l=[]
    for i in range(0,len(t)):
        if i%2!=0:
            l.append(t[i])
    x=tuple(l)
    return x

print (odd(1,2,3,4,8,11))

(2, 4, 11)

In [2]:
S1=set()
type(S1)

set

In [2]:
D1={}
type(D1)

dict

In [3]:
P={"Amit":"8976547365","Amol":"874676238"}
P

{'Amit': '8976547365', 'Amol': '874676238'}

In [6]:
# P["Amit"]="8059930937"
# P
#P["Amol"]
del P["Amit"]
P

{'Amol': '874676238'}

In [19]:
Temperature={1:35,"Puneet":"Banga", "Delhi":40,"Chennai":54}
#Temperature.get(1)
Temperature.pop(1)
Temperature
Temperature.get(1)
#print(str(Temperature))
Temperature["Ambala"]=50
D1={"Amit":"9896785678","Amol":"9876543210"}
del D1["Amol"]
D1
D2={}
D2['Name']="Amit"
D2['Age']=30
D2
CODE={"A":65,"B":66,"C":67,"D":68}
CODE.clear()
CODE

TypeError: pop expected at least 1 arguments, got 0

In [7]:
#Temperature.clear()
Temperature={1:35,"Amol":"Sethi", "Delhi":40,"Chennai":54}
Temperature[1]

35

In [8]:
for i in Temperature:
    print(i,":",Temperature[i])

1 35
Amol Sethi
Delhi 40
Chennai 54

In [25]:
for key in Temperature.keys():
    print(key,":",Temperature[key])

1 : 35
Delhi : 40
Chennai : 54

In [26]:
for key in Temperature.keys():
    print(key,":",Temperature.get(key))

1 : 35
Delhi : 40
Chennai : 54

In [1]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [3]:
x = thisdict["model"]
x

'Mustang'

In [5]:
x = thisdict.get("model")
x

'Mustang'

In [6]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"] = 2018

In [7]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [8]:
# Print all key names in the dictionary, one by one:
for x in thisdict:
    print(x)

brand
model
year

In [9]:
# Print all values in the dictionary, one by one:
for x in thisdict:
    print(thisdict[x])

Ford
Mustang
2018

In [12]:
#can also use the keys() method to return keys of a dictionary:

for x in thisdict.keys():
    print(x)

brand
model
year

In [10]:
#can also use the values() method to return values of a dictionary:

for x in thisdict.values():
    print(x)

Ford
Mustang
2018

In [11]:
# Loop through both keys and values, by using the items() method:

for x, y in thisdict.items():
    print(x, y)

brand Ford
model Mustang
year 2018

In [13]:
# Check if "model" is present in the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

In [14]:
# Print the number of items in the dictionary:

print(len(thisdict))

3

In [15]:
# Adding an item to the dictionary is done by using a new index key and assigning a value to it:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"] = "red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [16]:
# The pop() method removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [17]:
#The popitem() method removes the last inserted item (in versions before 3.7, a random item is removed instead):

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [18]:
# The del keyword removes the item with the specified key name:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [2]:
# The del keyword can also delete the dictionary completely:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict
print(thisdict) #this will cause an error because "thisdict" no longer exists.

NameError: name 'thisdict' is not defined

In [20]:
# The clear() method empties the dictionary:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

In [21]:
# Make a copy of a dictionary with the copy() method:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [22]:
# Make a copy of a dictionary with the dict() function:

thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [23]:
#It is also possible to use the dict() constructor to make a new dictionary:

thisdict = dict(brand="Ford", model="Mustang", year=1964)
# note that keywords are not string literals
# note the use of equals rather than colon for the assignment
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [7]:
A={"A":65,"B":66,"C":67,"D":68}
A.keys()

dict_keys(['A', 'B', 'C', 'D'])

In [8]:
A.values()

dict_values([65, 66, 67, 68])

In [9]:
A.items()

dict_items([('A', 65), ('B', 66), ('C', 67), ('D', 68)])

In [11]:
#A.get("B")
A["B"]

66

In [12]:
A.pop("C")

67

In [13]:
A

{'A': 65, 'B': 66, 'D': 68}

In [14]:
A.clear()

In [15]:
A

{}

In [17]:
Grades={"Amol":"A","Gaurab":"B","Dikshant":"C"}
for key in Grades:
    print(key,":",Grades[key])

Amol : A
Gaurab : B
Dikshant : C

In [1]:
def remove(word):
    str1=''
    for i in word:
        if(i!='a' and i!='e' and i!='i' and i!='o' and i!='u' ):
            str1=str1+i
    return str1

remove('abceihgjkopku')

'bchgjkpk'

In [4]:
l=[10,11,31,52,78]
l= [ x for x in l if x%2==0]
l

[10, 52, 78]

In [6]:
l=[10,50,40,38,36]
a=[((x*(9//5))+32) for x in l]
print("temp",a)

temp [42, 82, 72, 70, 68]

In [13]:
l=[1,3,'khush',8.7]
v=[x for x in l if type(x)==int ]
v

[1, 3]

In [9]:
l1=[1,2,3,4,5]
def function(l1):
    count=0
    for i in l1:
        count= count+i
    a=count//len(l1)
    print(a)
function(l1)

3

l1=[1,2,3,4,5]
def function(l1): 
    count=0 
    for i in l1: 
        count= count+i 
    a=count//len(l1) 
    print(a) 
function(l1)

In [27]:
l1=[-1,1,-2,2,3,4,-3]
pos_count,neg_count=0,0
for num in l1:
    if num>=0:
        pos_count+=1
    else:
        neg_count+=1
print("positive number in the list:",pos_count)
print("negative number in the list:",neg_count)
d1={}
d1['positive']=pos_count
d1['negitive']=neg_count
d1

positive number in the list: 4
negative number in the list: 3

{'positive': 4, 'negitive': 3}

In [10]:
s="aashish"
d={}
for i in s:
    if i not in d:
        d[i]=1
    else:
        d[i]=d[i]+1
print(d)

{'a': 2, 's': 2, 'h': 2, 'i': 1}