In [3]:
num1= eval(input("Enter first number"))
num2= eval(input("Enter Second number"))
if num1>num2:
    print("Num1 is greater")
else:
    print("Num2 is greater")

Enter first number23
Enter Second number27
Num2 is greater

In [5]:
num1= eval(input("Enter first number"))
num2= eval(input("Enter Second number"))
if num1-num2==0:
    print("Numbers are equal")
else:
    print("Numbers are not equal")

Enter first number23
Enter Second number23
Numbers are equal

In [6]:
num1= eval(input("Enter first number"))
if num1%2==0:
    print("number is even")
else:
    print("number is odd")

Enter first number6
number is even

In [8]:
# whether a number is divisible by 5 and 10
num= eval(input("Enter the number"))
if num%5==0 and num%10==0:
    print("number is divisible by 5 and 10")
else:
    print("number is not divisible by 5 and 10")

Enter the number6
number is not divisible by 5 and 10

In [1]:
count=1
while count<=5:
    print("count=",count)
count=count+1

count= 1
count= 2
count= 3
count= 4
count= 5

In [2]:
# to find the sum of digits of a number 123
num=int(input("Enter any number"))
sum=0
while num>0:
    rem=num%10      # rem=2
    num=num//10     # num=1
    sum=sum+rem;    # sum=5
print(sum)

Enter any number12345
15

In [3]:
# to find the reverse of a number 357
num=int(input("Enter any number"))
sum=0
while num>0:
    rem=num%10          # rem=3
    num=num//10        # num=0
    sum=sum*10+rem;    # sum=753
print(sum)

Enter any number123
321

In [5]:
# to find whether a no is palindrome no
num=int(input("Enter any number"))
sum=0
num1=num
while num>0:
    rem=num%10          # rem=3
    num=num//10        # num=0
    sum=sum*10+rem;    # sum=753
if sum==num1:
    print("palindrome number")
else:
    print("not a palindrome number")

Enter any number12345
not a palindrome number

In [1]:
# to find whether number is armstrong number 123
# to find factorial of a number
# 5!=5*4*3*2*1
num=int(input("Enter any number"))
fact=1
while num>0:
    fact=fact*num     #fact=120
    num=num-1         #num=0
print(fact)

Enter any number5
120

In [4]:
 # to find power of a number a^b
#range(begin,end,step)
list(range(1,5))

[1, 2, 3, 4]

In [5]:
list(range(1,6))

[1, 2, 3, 4, 5]

In [6]:
list(range(1,20,2))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [7]:
list(range(1,10,2))

[1, 3, 5, 7, 9]

In [8]:
list(range(5,0,-1))

[5, 4, 3, 2, 1]

In [9]:
list(range(5,0,-2))

[5, 3, 1]

In [10]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(range(-4,4))

[-4, -3, -2, -1, 0, 1, 2, 3]

In [12]:
list(range(-4,4,2))

[-4, -2, 0, 2]

In [14]:
list(range(0,1))

[0]

In [15]:
list(range(1,1))

[]

In [16]:
for i in range(1,10):
    print (i)

1
2
3
4
5
6
7
8
9

In [21]:
for var in range(65,91,1):
    print(var,end=" ")

65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90

In [19]:
for i in range(65,91,1):
    print(chr(i),end=" ")

A B C D E F G H I J K L M N O P Q R S T U V W X Y Z

In [20]:
for i in range(10,0,-1):
    print(i)

10
9
8
7
6
5
4
3
2
1

In [28]:
for var in range(1,6):
    square=var**2
    print("square of a number", var, "is:", square)

square of a number 1 is: 1
square of a number 2 is: 4
square of a number 3 is: 9
square of a number 4 is: 16
square of a number 5 is: 25

In [1]:
for i in range(1,4):
    for j in range(1,4):
        print("i= ",i,"j= ",j)

i=  1 j=  1
i=  1 j=  2
i=  1 j=  3
i=  2 j=  1
i=  2 j=  2
i=  2 j=  3
i=  3 j=  1
i=  3 j=  2
i=  3 j=  3

In [4]:
for i in range(1,11):
    for j in range(1,6):
        print(format(i*j,"8d"),end=" ")
    print()

       1        2        3        4        5
       2        4        6        8       10
       3        6        9       12       15
       4        8       12       16       20
       5       10       15       20       25
       6       12       18       24       30
       7       14       21       28       35
       8       16       24       32       40
       9       18       27       36       45
      10       20       30       40       50

In [9]:
# 1
# 1 2
# 1 2 3
# 1 2 3 4
# 1 2 3 4 5
for i in range(1,6):         # i = 1
    for j in range(1,i+1):   # j = 1   
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [10]:
# break and continue
for i in range(1,100):
    if(i==11):
        break
    else:
        print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

In [11]:
for i in range(1,11):
    if i==5:
        continue
    print(i,end=" ")

1 2 3 4 6 7 8 9 10

In [14]:
# prime number
num=int(input("enter any number"))
for i in range(2,num):
    if num%i==0:
        flag=0
        break
    else:
        flag=1
if flag==1:
    print(num, "is prime")
else:
    print(num, "is not prime")

enter any number10
10 is not prime