In [4]:
Age=int(input("ENTER YOUR AGE:"))
if Age>18:
    print("yes")
else:
    print("no")

ENTER YOUR AGE:55
yes

In [5]:
a=int(input("enter ur age:"))
if a>25 and a<60:
    print("you can work with us")

enter ur age:55
you can work with us

In [16]:
a=eval(input())
b=eval(input())
if a==b:
    print("Numbers are equal")
else:
    print("Numbers not equal")

5
8
Numbers not equal

In [1]:
print("enter the number")
a=eval(input())
b=eval(input())
c=eval(input())
d=eval(input())
if a>b&a>C&a>d:
    print("a is greater number")
elif b>a&b>c&b>d:
    print("b is greater number")
elif c>a&c>b&c>d:
    print("c is greater number")
else:
    print("d is greater number")

enter the number
8
9
7
12
d is greater number

In [1]:
i=0
while i<=50:
    i=i+1
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51

In [2]:
i=0
while i<5:
    i=i+1
    print("Aditya")

Aditya
Aditya
Aditya
Aditya
Aditya

In [4]:
num=eval(input())
sum=0
i=0
while(i<=num):
    if(num%5==0)
    sum=sum+1
print("sum")

SyntaxError: invalid syntax (<ipython-input-4-671284c52e45>, line 5)

In [1]:
#wap to get 4th element and 4th last element of  tuple.Also create a new tupple which is reverse of given tuple
# wap a python program to remove an empty tuple from alist of tuple

In [10]:
# Q1
t1=(7,8,9,4,5,3,2,18,5,8)
x=t1[4]
y=t1[-4]
print(x)
print(y)
z=t1[::-1]
print(z)

5
2
(8, 5, 18, 2, 3, 5, 4, 9, 8, 7)

In [4]:
#Q2
L = [(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
L = [x for x in L if x]
print(L)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [1]:
def empty_tuple(tup):
    tup=[x for x in tup if x]
    return tuple 
tup=[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
print(tup)
new_tuple=empty_tuple(tup)
print(new_tuple)

[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), 'd']
<class 'tuple'>

In [3]:
# wap a program to convert tuple in string
def convertTuple(tup):
    str = ''
    for item in tup:
        str = str + item
    return str
tuple = ('A', 'D', 'I', 'T', 'Y','A')
str = convertTuple(tuple)
print(str)

ADITYA

In [4]:
tuple = ('A', 'D', 'I', 'T', 'Y','A')
str = convertTuple(tuple)
print(str)

ADITYA

In [10]:
T1=('A','D','I','T','Y','A')
A=T1[0]
print(A,end='')
A=T1[1]
print(A,end='')
A=T1[2]
print(A,end='')
A=T1[3]
print(A,end='')
A=T1[4]
print(A,end='')
A=T1[5]
print(A,end='')

ADITYA

In [16]:
T1=('A','D','I','T','Y','A')
list1=list(T1)
print(list1)

TypeError: 'list' object is not callable

a="PYTHON PROGRAMING"
l=len(a)+1
e3={}