In [1]:
def reverse_list(lst):
    lst.reverse()
    return lst
lst=[1,2,3,4,5,6]
print(reverse_list(lst))

[6, 5, 4, 3, 2, 1]

In [2]:
list1= [3,17,9,2,4,8,97,43,39]
lst= []

for a in list1:
    prime=True
    for i in range(2,a):
        if(a%i==0):
            prime=False
            break
    if prime:
        lst.append(a)
print(lst)

[3, 17, 2, 97, 43]

In [2]:
# Tuples
t1= ()
t1=(1,2,3,4)
t1=(4,)
type(t1)

tuple

In [3]:
t1=(1,5,3,8,6)
len(t1)

5

In [4]:
max(t1)

8

In [5]:
min(t1)

1

In [6]:
t1.index(1)

0

In [7]:
t1.count(8)

1

In [8]:
t=('p','y','t','h','o','n')
t[-1]

'n'

In [9]:
t

('p', 'y', 't', 'h', 'o', 'n')

In [10]:
t[0:]

('p', 'y', 't', 'h', 'o', 'n')

In [11]:
t[0:3]

('p', 'y', 't')

In [12]:
t1=(1,2)
t2=(3,4)
t1+t2

(1, 2, 3, 4)

In [13]:
t1*3

(1, 2, 1, 2, 1, 2)

In [14]:
def create_tup(*args):
    print(args)
create_tup(1,2,3,4)

(1, 2, 3, 4)

In [15]:
create_tup('a','b')

('a', 'b')

In [20]:
list1=[1,2,3,4]
t1=tuple(list1)
t1

(1, 2, 3, 4)

In [21]:
t1=(7,2,1,8)
l1=list(t1)
l1.sort()
t2=tuple(l1)
t2

TypeError: 'list' object is not callable

In [19]:
a1=[1,2,3]
a2="XYZ"
list(zip(a1,a2))

TypeError: 'list' object is not callable

In [22]:
l1=["Laptop","Desktop","Mobile"]
l2=[40000,30000,15000]
tuple(list(zip(l1,l2)))

TypeError: 'list' object is not callable

In [23]:
a="abcd"
b=[1,2,3]
list(zip(a,b))

TypeError: 'list' object is not callable

In [24]:
x=[("Apple",50000),("Dell",30000)]
laptop,prize= zip(*x)
print(laptop)
print(prize)

('Apple', 'Dell')
(50000, 30000)

In [25]:
t1=tuple("TENNIS")
t1

('T', 'E', 'N', 'N', 'I', 'S')

In [29]:
t1=tuple([1,3,6,8,6])
t1

(1, 3, 6, 8, 6)

In [30]:
#sets
s1={1,2,3,5}
s1

{1, 2, 3, 5}

In [31]:
s2=[1,2,3,2,5,3]
s2

[1, 2, 3, 2, 5, 3]

In [32]:
s3=set(s2)
s3

{1, 2, 3, 5}

In [33]:
s1={1,2,3}
3 in s1

True

In [34]:
4 not in s1

True

In [35]:
s1={1,2,19,90}
s1.add(100)

In [36]:
s1

{1, 2, 19, 90, 100}

In [37]:
s1.clear()
s1

set()

In [42]:
s1={1,2,3,4}
s1.remove(2)

In [39]:
s1

{1, 3, 4}

In [40]:
s1={1,2,3,4}
s2={1,2,3,4,5}
s1.issubset(s2)

True

In [43]:
s2.issuperset(s1)

True

In [44]:
s1={1,2,3,4}
s2={2,4,5,6}
s1.union(s2)

{1, 2, 3, 4, 5, 6}

In [45]:
s1.intersection(s2)

{2, 4}

In [46]:
s1 & s2

{2, 4}

In [47]:
s1 | s2

{1, 2, 3, 4, 5, 6}

In [48]:
a={1,2,3,4}
b={3,4,5,6}
a.difference(b)

{1, 2}

In [49]:
a-b

{1, 2}

In [51]:
s1={1,2,3,4}
s2={3,4,5,6}
s1.symmetric_difference(s2)

{1, 2, 5, 6}

In [52]:
s1^s2

{1, 2, 5, 6}

In [1]:
d1={}
type(d1)

dict

In [2]:
d1=set()
type(d1)

set

In [4]:
P= {"Amit":"9876543210","Amol":"1234567890"}
P

{'Amit': '9876543210', 'Amol': '1234567890'}

In [5]:
P["Aman"]="8769056436"
P

{'Amit': '9876543210', 'Amol': '1234567890', 'Aman': '8769056436'}

In [6]:
P["Amol"]="5678432190"
P

{'Amit': '9876543210', 'Amol': '5678432190', 'Aman': '8769056436'}

In [7]:
P["Amol"]

'5678432190'

In [8]:
del P["Amol"]
P

{'Amit': '9876543210', 'Aman': '8769056436'}

In [9]:
P.keys()

dict_keys(['Amit', 'Aman'])

In [10]:
P.values()

dict_values(['9876543210', '8769056436'])

In [11]:
P.items()

dict_items([('Amit', '9876543210'), ('Aman', '8769056436')])

In [12]:
P.get("Amit")

'9876543210'

In [13]:
P.pop("Amit")

'9876543210'

In [14]:
P

{'Aman': '8769056436'}

In [15]:
P.clear()
P

{}

In [20]:
Grades={"Tom":"A","Pran":"B","Sam":"C"}
for i in Grades:
    print(i,Grades[i])

Tom A
Pran B
Sam C

In [22]:
def hist(str):
    D=dict()
    for C in str:
        if C not in D:
            D[C]=1
        else:
            D[C]=D[C]+1
    return D

H=hist("AAPPLE")
print(H)

{'A': 2, 'P': 2, 'L': 1, 'E': 1}

In [26]:
L=[1,-2,-3,4]
def abc(L):
    D={}
    D["pos"]=0
    D["Neg"]=0
    for x in L:
        if x>0:
            D["pos"]+=1
        else:
            D["Neg"]+=1
    return D
print(abc(L))

{'pos': 2, 'Neg': 2}

In [1]:
a=eval(input("Enter 1 string"))
b=eval(input("enter 2 string"))
c= a + b
print(c)

Enter 1 string6
enter 2 string7
13

In [6]:
def main():
    obj1=open("Demo1.txt","w")
    obj1.write("hello how are you \n")
    obj1.write("welcome to python class \n")
    obj1.write("Enjoy the session")
main()

In [12]:
F1= open("Demo1.txt","r")
text=F1.read()
print(text)

hello how are you
welcome to python class
Enjoy the session

In [13]:
F1= open("Demo1.txt","r")
for line in F1:
    print(line)

hello how are you

welcome to python class

Enjoy the session

In [22]:
def main1():
    obj2=open("Demo.txt","w")
    for x in range(1,20):
        x=str(x)
        obj2.write(x)
        obj2.write(" ")
    obj2.close()
main1()

In [24]:
fp3=open("Demo.txt","r")
num=fp3.read()
print(num)
print(type(num))

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19
<class 'str'>

In [26]:
fp4=open("Demo2.txt","w")
for x in range(1,20):
    x=str(x)
    fp4.write(x)
    fp4.write("\n")
fp4.close()

In [28]:
fp5=open("Demo2.txt","r")
num=int(fp5.readline())
print(num)
sum=0
for i in range(num):
    num1=int(fp5.readline())
    sum=sum+num1
print(sum)

1
2

In [1]:
F1=open("story.txt","r")
long=" "
for line in F1:
    if len(line)>len(long):
        long=line
print(len(long))
print(long)

FileNotFoundError: [Errno 2] No such file or directory: 'story.txt'

In [2]:
F1=open("Demo.txt","a")
F1.write("xgfcfuygu")
F1.close()

In [5]:
# FP.seek(offset,whence)
fp1=open("weekdays.txt","w+")
fp1.write("Monday\n")
fp1.write("Tuesday\n")
fp1.write("Wednesday\n")
fp1.write("Thursday\n")
fp1.write("Friday\n")
fp1.seek(0)
t=fp1.read()
print(t)
fp1.seek(0,2)
fp1.write("Saturday\n")
fp1.write("Sunday")
fp1.seek(0)
t=fp1.read()
print(t)

Monday
Tuesday
Wednesday
Thursday
Friday

Monday
Tuesday
Wednesday
Thursday
Friday
Saturday
Sunday

In [8]:
fp2=open("Seek_Demo.txt","w+")
fp2.write("Oh!God!SaveEarth!")
fp2.seek(3)
fp2.readline()

'God!SaveEarth!'